body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;

    margin: 0% auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;

}


.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

/* #region header */

.main-page {
    background-color: inherit;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.page-navigation {
    background-color: inherit;
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-list-link {
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link.current {
    position: relative;
}

.navigation-list-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.list-contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
}

.list-contact-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.list-contact-link:hover,
.list-contact-link:focus,
.navigation-list-link.current {
    color: #404bbf;
}

/* #endregion header */

/* #region hero */

.hero {
    background-color: #2e2f42;
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 1440px;
    margin: 0% auto;
    background-size: cover;
}

.main-title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    width: 496px;
}

.hero-action {
    font-family: inherit;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-action:hover,
.hero-action:focus,
.hero-action:active {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* #endregion hero */

/* #region features */

.features {
    background-color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);

}

.features-list-item .features-icon {
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.features-list-item .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-title-desc {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion features */

/* #region team */

.team {
    background-color: #f4f4fd;

    margin: 0% auto;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 72px;
    width: 162px;
    white-space: nowrap;


}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-title-items {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-team {

    padding: 32px 16px;
}

.team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;




}

.member-speciality {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;


}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;



}

.soc-icon-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.soc-icon-link:hover,
.soc-icon-link:focus {
    background-color: #404BBF;
}

.soc-icon {
    fill: #F4F4FD;



}

/* #endregion team */

/* #region portfolio */


.portfolio-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 72px;
    white-space: nowrap;
    width: 218px;


}

.portfolio-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;



}

.portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-item-overlay {
    transform: translateY(0);
}

.portfolio-photo {
    position: relative;
    overflow: hidden;

}

.portfolio-item-overlay {
    position: absolute;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item .portfolio-card {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;

}


.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-type {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion portfolio */

/* #region footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;

    margin: 0% auto;


}

.container.footer {
    display: flex;
    column-gap: 120px;
    align-items: baseline;
}

.footer-logo {

    width: 115px;
    height: 24px;

}

.footer-main-desc {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;



}

.footer-soc-title {
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}



.soc-icon-link.footer:hover,
.soc-icon-link.footer:focus {
    background-color: #31D0AA;

}

/* #endregion footer */